{% extends 'base.html.twig' %}

{% block main %}


<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">The new revolution in your kitchen</span>
        <span class="site-heading-lower">Prodigio:</span>
    </h1>

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="bundles/img/cafetiere.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nespresso Coffee</span>
                        <span class="section-heading-lower">Worth Drinking</span>
                    </h2>
                    <p class="mb-3">The Prodigio machine is the first connected coffee machine.
                        The misted eyes, the still visible mark(brand) of sheets on the cheek,
                        you go like a zombie to your barkeeper(coffeepot). With Prodigio,
                        the first connected machine Nespresso, it is the steams of the coffee(café)
                        that pull(fire) you of the bed, not your awakening(alarm clock)!
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="#">Our shop !</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0"><strong>An app connected to your intelligent machine</strong></p>
                        <p>Proposed by Krups and Magimix, Prodigio de Nespresso is available in classic
                            version or "Milk", ideal to play the Italian baristas and create oneself a delicate
                            drop of milk on her coffee. Once your machine Prodigio was connected in Bluetooth via
                            the application Nespresso, it is your telephone which takes care of everything.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


{% endblock %}



